<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pack.mapper.WarehouseMapper">
	<!-- resultType은 select 구문에서만 존재 -->
	<select id="selectAll"  resultType="Pack.vo.WarehouseVo">
        SELECT * from Warehouse
    </select> 
     
    <select id="selectSome" parameterType="Pack.vo.WarehouseSch" resultType="Pack.vo.WarehouseVo">
     	SELECT *
    	FROM Warehouse
    	WHERE
    		<if test='location != null and location neq ""'>location=#{location} and</if>
    		<if test='warehouse_code != null and warehouse_code neq ""'>warehouse_code=#{warehouse_code} and</if>
    		<if test='purpose != null and purpose neq ""'>purpose=#{purpose} and</if>
    		<if test='warehouse_code_desc != null and warehouse_code_desc neq ""'>warehouse_code_desc like CONCAT('%',#{warehouse_code_desc},'%') and</if>
    		<if test='use != null and use neq ""'>`use`=#{use} and</if>
    		<if test='inventory_using != null and inventory_using neq ""'>inventory_using=#{inventory_using} and</if>
    		<if test='remarks != null and remarks neq ""'>remarks=#{remarks} and</if>
	    	(maximum_weight between #{min_maximum_weight} and #{max_maximum_weight}) and
	    	(maximum_count between #{min_maximum_count} and #{max_maximum_count})
    </select>
    
    <select id="selectLocation" resultType="Pack.vo.WarehouseLoc">
    	SELECT warehouse_code 
		FROM Warehouse
		WHERE location = #{location}
    </select>
    
    <delete id="delete" parameterType="String">
    	DELETE FROM Warehouse 
    	WHERE warehouse_code = #{warehouse_code}
    </delete>
    
    <insert id="insert" parameterType="Pack.vo.WarehouseIns">
    	INSERT 
    	INTO Warehouse
    	VALUES (
	    	#{location}, 
	    	#{warehouse_code}, 
	    	#{purpose}, 
	    	#{warehouse_code_desc}, 
	    	#{use}, 
	    	#{maximum_weight},
	    	#{maximum_count}, 
	    	#{inventory_using}, 
	    	#{remarks}
    	);
    </insert>
    
    <update id='update' parameterType="Pack.vo.WarehouseUpd">
    	UPDATE Warehouse
    	SET
	    	location = #{location}, 
	    	purpose = #{purpose}, 
	    	warehouse_code_desc = #{warehouse_code_desc}, 
	    	`use` = #{use}, 
	    	maximum_weight = #{maximum_weight},
	    	maximum_count = #{maximum_count}, 
	    	inventory_using = #{inventory_using}, 
	    	remarks = #{remarks}
    	WHERE
    		warehouse_code = #{warehouse_code}
    </update>
</mapper>