<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pack.mapper.WarehouseMapper">
	<!-- resultType은 select 구문에서만 존재 -->
	<select id="selectAll"  resultType="Pack.vo.WarehouseVo">
        SELECT * from Warehouse
    </select> 
     
    <select id="selectSome" parameterType="Pack.vo.WarehouseSch" resultType="Pack.vo.WarehouseVo">
     	SELECT *
    	FROM Warehouse
    	WHERE
    		<if test='location != null and location neq "전체보기"'>location=#{location} and</if>
    		<if test='warehouse_code != null and warehouse_code neq "전체보기"'>warehouse_code=#{warehouse_code} and</if>
    		<if test='purpose != null and purpose neq "전체보기"'>purpose=#{purpose} and</if>
    		<if test='warehouse_desc != null and warehouse_desc neq "전체보기"'>warehouse_desc like CONCAT('%',#{warehouse_desc},'%') and</if>
    		<if test='use != null and use neq "전체보기"'>`use`=#{use} and</if>
    		<if test='inventory_using != null and inventory_using neq "전체보기"'>inventory_using=#{inventory_using} and</if>
    		<if test='remarks != null and remarks neq "전체보기"'>remarks=#{remarks} and</if>
	    	(maximum_weight between #{min_maximum_weight} and #{max_maximum_weight}) and
	    	(maximum_count between #{min_maximum_count} and #{max_maximum_count})
    </select>
    
    <select id="selectLocation" resultType="Pack.vo.WarehouseLoc">
    	SELECT distinct warehouse_code
		FROM Warehouse
		WHERE location = #{location}
    </select>
    
    <delete id="delete" parameterType="String">
    	DELETE FROM Warehouse 
    	WHERE warehouse_code = #{warehouse_code}
    </delete>
    
    <delete id="deletes" parameterType="List">
    	<foreach collection="warehouseDeleteList" item="warehouse_code" index="index">
		    DELETE
			FROM Warehouse
			where warehouse_code=#{warehouse_code};
		</foreach>
    </delete>
    
    <insert id="insert" parameterType="Pack.vo.WarehouseIns">
    	INSERT 
    	INTO Warehouse
    	VALUES (
	    	#{warehouse_code}, 
	    	#{location}, 
	    	#{purpose}, 
	    	#{warehouse_desc}, 
	    	#{use}, 
	    	#{maximum_weight},
	    	#{maximum_count}, 
	    	#{inventory_using}, 
	    	#{remarks}
    	);
    </insert>
    
    <update id='update' parameterType="Pack.vo.WarehouseUpd">
    	UPDATE Warehouse
    	SET
	    	location = #{location}, 
	    	purpose = #{purpose}, 
	    	warehouse_desc = #{warehouse_desc}, 
	    	`use` = #{use}, 
	    	maximum_weight = #{maximum_weight},
	    	maximum_count = #{maximum_count}, 
	    	inventory_using = #{inventory_using}, 
	    	remarks = #{remarks}
    	WHERE
    		warehouse_code = #{warehouse_code}
    </update>
</mapper>